.game-toolbar {
  width: 400px;
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
}

.game-hp-bar-container {
  width: 250px;

  .progress {
    margin: 4px 0;
    height: 12px;
  }

  .progress-bar {
    float: right;
  }
}
