// badges and items

.scale-up-start() {
  opacity: 0;
  .scale(0.1, 0.1);
}

.scale-up-end() {
  opacity: 1;
  .scale(1, 1);
}

@item-animation-time: 600ms;

.game-item,
.game-treasure {
  .animation(scale-up @item-animation-time @elastic);
}

.item-enter {
  .transition-transform(@item-animation-time @elastic);
  .scale-up-end();

  &.page-enter-active {
    .translate(0, 0);
  }
}

.item-leave {
  .transition(all 800ms ease);
  .scale-up-end();

  &.page-leave-active {
    .scale-up-start();
  }
}

@keyframes scale-up {
  0% {
    .scale-up-start();
  }
  30% {
    .scale-up-start();
  }
  100% {
    .scale-up-end();
  }
}

@-webkit-keyframes scale-up {
  0% {
    .scale-up-start();
  }
  30% {
    .scale-up-start();
  }
  100% {
    .scale-up-end();
  }
}
